.animation_images{
    position:relative;
    animation:mymove 5s infinite;
    -webkit-animation:mymove 5s infinite;
    animation-direction:alternate;
    -webkit-animation-direction:alternate;
    padding: 0px 2%;
    margin: 4% 0px;
}
@keyframes mymove
{
from {left:-100px;}
to {left:100px;}
}

@-webkit-keyframes mymove
{
from {left:-100px;}
to {left:100px;}
}
